* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    font-family: "AvenirNext","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#page {
    grid-area: page;

    display: grid;
    grid-template:
                max-content
                max-content
                max-content
                max-content
                max-content
                    / 1fr;
    grid-template-areas:
        "video"
        "testimonials"
        "pricing-options"
        "legal";

    grid-row-gap: 20px;
}

#video{
    grid-area: video;
}

#testimonials {
    grid-area: testimonials;
}

.testimonial {
    display: grid;

    grid-template:
    70px
    max-content
    max-content
    /   0.95fr;

    grid-template-areas:
    "image"
    "text"
    "name";
}

.testimonial img {
    grid-area: image;
    margin-left: calc(0% - 20px);
    argin-top: 20px;
}

.testimonial .quote{
    height: 200px;
}


.hs {
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    grid-gap: 1em;
}

#pricing-options {
    grid-area: pricing-options;

    padding-left: 2em;
    padding-right: 2em;

    display: grid;
    grid-auto-columns: 1fr;
    grid-gap: 2em;
}

.pricing-option {
    display: grid;

    grid-auto-flow: row;
    grid-template-rows:
            max-content
            1fr
            max-content;
}

.pricing-option > *:nth-last-child(2) {
    padding-bottom: 1em;
}

#pricing-options ul > li:last-of-type {
    margin-bottom: 0px;
}

#legal {
    grid-area: legal;
}

@media (min-width: 1000px) {
    body {
        grid-template:
            max-content
                /   1fr minmax(1000px, 1600px) 1fr;

        grid-template-areas:
                    ". page .";
    }

    #page {
        border-right: 1px solid #dedede;
        border-left: 1px solid #dedede;
    }

    .hs > * {
        width: 45vw;
        max-width: 400px;
    }

    #pricing-options {
        grid-auto-flow: column;
    }
}

@media (max-width: 999px) {
    body {
        background-image: none !important;
        grid-template:
            max-content
                /   100vw;

        grid-template-areas:
                    "page";
    }

    #pricing-options {
        grid-template-areas:
        "a"
        "b"
        "c";
    }

    .pricing-option:nth-child(1) {
        grid-area: c;
    }

    .pricing-option:nth-child(2) {
        grid-area: b;
    }

    .pricing-option:nth-child(3) {
        grid-area: a;
    }

    .hs > * {
        width: 75vw;
    }
}

