/*Watermark*/
:root:before {

    /*display: none;*/
    display: block;

    width: 100%;
    position: fixed;
    text-align: center;
    font-size: 5em;
    color: #000000;
    opacity: 0.10;
    top: 0;
    z-index: 1000;
}

body{
    margin: 0px;
}

@media (min-width: 1366px){
    :root:before {
        content: "Computers";
    }

    #page{
        width: 1366px;
        margin: 0px auto 0px auto;
        border: 1px solid #dedede;
    }
}

@media (min-width: 768px) and (max-width: 1365px){
    :root:before {
        content: "Tablets";
    }
}

@media (max-width: 767px) {
    :root:before {
        content: "Phones";
    }
}