
* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
}

#page {
    grid-area: page;

    display: grid;
    grid-template:
                400px
                150px
                max-content
                50px
                max-content
                max-content
                    / 1fr;
    grid-template-areas:
        "bumper"
        "."
        "testimonials"
        "."
        "pricing-options"
        "legal";


}

#bumper {
    grid-area: bumper;

    display: grid;
    grid-template:
                    100px
                    200px
                    100px
                    / 40px 8fr 2fr 300px 1fr;

    grid-template-areas:
            ". . . . ."
            ". logo title title ."
            ". pic . button .";
}

#bumper #carey {
    grid-area: pic;
}

#bumper .logo{
    grid-area: logo;
    justify-self: right;
    margin-right: 35px;

    display: block;
    width: 145px;
    border-radius: 50%;
}

#bumper .title {
    grid-area: title;
}

#bumper a {
    display: none;
    grid-area: buttoXn;
}

#testimonials {
    grid-area: testimonials;
}

.testimonial {

    display: grid;

    grid-template:
    70px
    max-content
    max-content
    /   1fr;

    grid-template-areas:
    "image"
    "text"
    "name";
}

.testimonial img {
    grid-area: image;
    justify-self: center;
}

.testimonial .quote{
    height: 245px;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: scroll;
}


.hs {
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    grid-gap: 2em;
}

#pricing-options {
    grid-area: pricing-options;

    padding-left: 2em;
    padding-right: 2em;

    display: grid;
    grid-auto-columns: 1fr;
    grid-gap: 2em;
}

.pricing-option {


    display: grid;

    grid-auto-flow: row;
    grid-template-rows:
            max-content
            1fr
            max-content;
}

.pricing-option > *:nth-last-child(2) {
    padding-bottom: 1em;
}

#pricing-options ul > li {
    display: grid;
    grid-template-columns: max-content 1fr;
    padding-left: 14px;
    padding-right: 14px;
    margin-bottom: 21px;
}

#pricing-options ul > li:last-of-type {
    margin-bottom: 0px;
}

#legal {
    grid-area: legal;
}

@media (min-width: 1000px) {
    body {
        grid-template:
            max-content
                /   1fr minmax(1000px, 1600px) 1fr;

        grid-template-areas:
                    ". page .";
    }

    #page {
        border-right: 1px solid #dedede;
        border-left: 1px solid #dedede;
    }

    .hs > * {
        width: 45vw;
        max-width: 400px;
    }

    #pricing-options {
        grid-auto-flow: column;
    }
}

@media (max-width: 999px) {
    body {
        background-image: none !important;
        grid-template:
            max-content
                /   100vw;

        grid-template-areas:
                    "page";
    }

    #pricing-options {
        grid-template-areas:
        "a"
        "b"
        "c";
    }

    .pricing-option:nth-child(1) {
        grid-area: c;
    }

    .pricing-option:nth-child(2) {
        grid-area: b;
    }

    .pricing-option:nth-child(3) {
        grid-area: a;
    }

    .hs > * {
        width: 75vw;
    }

}